<main>
  <div class= "container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <h1>予約一覧</h1>
         <table class="table table-hover table-inverse">
           <thead>
             <tr>
               <th>来店時間</th>
               <th>お客様名</th>
               <th>施工予定サービス</th>
               <th></th>
             </tr>
            </thead>
           <tbody>
             <% @reservations.each do |reservation|%>
               <tr>
                 <td><%= reservation.start_time%></td>
                 <td><%= reservation.customer.first_name+reservation.customer.last_name%></td>
                 <td><%= reservation.service.name%></td>
                 <td><%= link_to "詳細", admin_reservation_path(reservation.id)%></td>
               </tr>
             <% end %>
           </tbody> 
         </table>
     </div>         
   </div>
</main>