<main>
  <div class= "container ">
    <div class="row　align-items-center h-auto d-inline-block" style="width: 100%" >
      <div class="col-sm-12 col-md-12 col-lg-12 ">
        <h1></h1>
        <span class="text-center d-flex justify-content-center">
           ご予約完了致しました。<br>
           ご来店お待ちしております。
        </span>
      </div>
    </div>
  </div>
</main>